<app-header></app-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>Datos de Nacimiento</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-datetime
        placeholder="Fecha de Nacimiento"
        display-format="MMM D, YYYY"
        cancelText="Cancelar!!"
        [ngModel]="fechaNacimiento.toISOString()"
        (ionChange)="dateChange($event)"
      ></ion-datetime>
    </ion-item>

    <ion-list-header>
      <ion-label>Restricciones</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Min y Max</ion-label>
      <ion-datetime
        placeholder="yyyy-mm-dd"
        display-format="YYYY MMMM DD"
        min="2015-01-01"
        max="2015-12-31"
      ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Años</ion-label>
      <ion-datetime
        placeholder="YYYY"
        display-format="YYYY"
        min="2015"
        max="2025"
        value="2020"
      ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Años Personalizado</ion-label>
      <ion-datetime
        [pickerOptions]="customPickerOptions"
        [ngModel]="customDate.toISOString()"
      ></ion-datetime>
    </ion-item>
  </ion-list>

</ion-content>
